// Global styling for this template
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    @include body-font;
    width: 100%;
    padding-top: 30px;
}

p {
    line-height: 1.75;
    font-size: 14px;
}

a *{
    color: $primary;
    &:hover {
        color: darken($primary, 10%);
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    @include heading-font;
}
hr{
  color: $primary;
  border: 1px solid $primary;
}

.blue-box{
  width: 35px;
  height: 50px;
  background-color: $primary;
}

.primary-bg{
  background-color: $primary;
}
.section-padding{
  padding-bottom: 20px;
}

h2.section-header{
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}