*, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  padding-top: 30px;
  color: #212529;
  font-size: 12px;
}

a * {
  color: #007fcc;
}
a *:hover {
  color: #005f99;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

hr {
  margin: 0 0 20px;
  color: #007fcc;
  border: 1px solid #007fcc;
}

.blue-box {
  width: 35px;
  height: 50px;
  background-color: #007fcc;
}

.primary-bg {
  background-color: #007fcc;
}

.section-padding {
  padding-bottom: 15px;
}

h2.section-header {
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

p.sub-section-description {
  padding-top: 4px;
  padding-left: 5px;
  font-size: 13px;
  font-weight: 600;
}

/***********************************************/
/** Header **/
/***********************************************/
#header {
  color: #212529;
}
#header .first-box {
  background-color: #005080;
}
#header .header-section .header {
  font-size: 32px;
}
#header .header-section .sub-header {
  font-size: 18px;
  color: #007fcc;
}
#header .header-section .description {
  font-size: 12px;
  color: #343a40;
  font-weight: 700;
}
#header .social-links ul {
  list-style-type: none;
}
#header .social-links ul li {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}
#header .social-links ul li a {
  color: #212529;
  text-decoration: none;
}
#header .social-links ul li i {
  color: #212529;
  padding-left: 6px;
}
#header img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 4px solid #007fcc;
}

/***********************************************/
/** first Col **/
/***********************************************/
#frist-col {
  padding-right: 30px;
}
#frist-col .sub-section-header {
  font-size: 18px;
  margin-bottom: 2px;
  font-weight: 800;
}
#frist-col .sub-section-header .date {
  font-size: 10px;
  color: #007fcc;
}
#frist-col .experiences .square-box, #frist-col .education .square-box {
  display: inline-block;
  height: 8px;
  width: 8px;
  background-color: #007fcc;
}
#frist-col .experiences .sub-exp, #frist-col .experiences .sub-edu, #frist-col .education .sub-exp, #frist-col .education .sub-edu {
  margin-bottom: 10px;
}
#frist-col .location {
  color: #868e96;
  font-style: italic;
  font-size: 11px;
}
#frist-col .other-exp ul {
  list-style-type: none;
  padding-left: 6px;
}
#frist-col .other-exp ul li {
  font-weight: 600;
  margin-bottom: 6px;
}
#frist-col .other-exp ul .round-box {
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #007fcc;
}

/***********************************************/
/** Second Col **/
/***********************************************/
#second-col .skills, #second-col .languages {
  font-weight: 600;
}
#second-col .skills .rate .round-circle, #second-col .languages .rate .round-circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #007fcc;
}
#second-col .skills .sub-skill, #second-col .skills .sub-lang, #second-col .languages .sub-skill, #second-col .languages .sub-lang {
  margin-bottom: 5px;
}
#second-col .skills .sub-skills-header {
  color: #005f99;
}
#second-col .volunteer, #second-col .organization {
  margin-bottom: 10px;
}
#second-col .volunteer .header, #second-col .organization .header {
  font-size: 14px;
  margin: 0;
}
#second-col .volunteer .description, #second-col .organization .description {
  font-size: 12px;
  font-weight: 600;
  color: #6c757d;
  margin-bottom: 8px;
  padding-left: 6px;
}
#second-col .certificates .sub-section-description {
  padding: 0;
  margin-bottom: 3px;
}
#second-col .certificates .sub-section-description .source {
  color: #868e96;
  font-style: italic;
  font-size: 11px;
}
#second-col .interests .sub-inter {
  border: 2px solid #adb5bd;
  padding: 6px 8px;
  color: #495057;
  font-weight: 600;
}

/*# sourceMappingURL=cv.css.map */
