/***********************************************/
/** first Col **/
/***********************************************/

#frist-col{

    .location{
        color: $gray-600;
        font-style: italic;
        font-size: 11px;
    }
    .experiences{
        color: $gray-900;
        .sub-exp{
            margin-bottom: 10px;
        }
    }

    // Other experiences
    .other-exp{
        font-size: 12px;
        font-weight: 600;
        ul{
            list-style-type: none;
            .round-box{
                display: inline-block;
                height: 8px;
                width: 8px;
                border-radius: 50%;
                background-color: $primary;
            }
        }

    }
}