/***********************************************/
/** Header **/
/***********************************************/
#header{
    color: $gray-900;
    padding-right: 25px;
    .first-box{
        background-color: darken($primary,15);
    }
    .header-section{ 
        .header{
            font-size: 32px;
        }
        .sub-header{
            font-size: 18px;
            color: $primary;
        }
        .description{
            font-size: 12px;
            color: $gray-800;
            font-weight: 700;
        }
    }
    .social-links{
        ul{
            list-style-type: none;
            li{
                font-size: 12px;
                font-weight: 600;
                margin-bottom: 4px;
                a{
                    color: $gray-900;
                    text-decoration: none;
                }
                i{
                    color: $gray-900;
                    padding-left: 6px;
                }
            }

        }
    }
    img{
        width: 130px;
        height: 130px;
        border-radius: 50%;
        border: 4px solid $primary;
    }
}